@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400;500&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Happy Monkey", cursive;
  box-sizing: border-box;
  scroll-behavior: smooth; //as the name suggests it will make the scroll behaviour smooth
}

a {
  text-decoration: none;
}
